section.preregistration {
    width: 60%;
    max-width: 46em;
    transition: padding-top 1s;
}

section.preregistration.registered {
    padding-top: 40vh;
}

section.preregistration button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-bottom: 25px;
}

.responsive-form-header {
    flex-direction: row;
}

.form-element {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.form-element .form-check {
    width: 90vw;
    max-width: 24em;
}

.form-element .form-control {
    background: #ffffff8c !important;
    border: 0px solid transparent;
}

.slide-form {
    overflow-x: visible;
    animation-name: slide-away;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-play-state: paused;
}

.slide-form.slide {
    animation-play-state: running;
}

.big-font-title {
    position: relative;
    height: 3.2em;
}

.big-font-title > * {
    position: absolute;
    left: 0px;
    right: 0px;
    transition: opacity 1.2s;
}

.big-font-title .b {
    font-size: 3em;
}

.big-font-title .a,
.big-font-title .b {
    opacity: 0;
}

.big-font-title.active-a .a,
.big-font-title.active-b .b {
    opacity: 1;
}

@keyframes slide-away {
    from {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(100px);
        opacity: 1;
    }
    100% {
        transform: translate(-100vw);
        opacity: 0;
    }
}

@keyframes slide-in {
    from {
        transform: translate(-100vw);
        opacity: 0;
    }
    80% {
        transform: translateX(100px);
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
    }
}

@media screen and (max-width: 930px) {
    section.preregistration {
        width: 80vw;
    }
    
    section.preregistration.registered {
        padding-top: 35vh;
    }

    .responsive-form-header {
        flex-direction: column;
    }

    .form-element {
        margin-top: 10vh;
        align-items: center;
    }

    .form-element .form-outline {
        max-width: 390px;
        width: 80vw;
    }
}